{
  "plugins": ["react-hot-loader/babel", "transform-class-properties"],
  "presets": ["es2015", "react"],
  "env": {
    "production": {
      "plugins": [
        [
          "import",
          {
            "style": true,
            "libraryDirectory": "component",
            "libraryName": "antd",
            "camel2DashComponentName": false
          }
        ]
      ]
    }
  }
}
