<nav>
  <a href="/">index</a>
  <a href="/page1.html">page1</a>
  <a href="/page2.html">page2</a>
  <a href="/dir/subpage1.html">dir/subpage1</a>
  <a href="/dir/subpage2.html">dir/subpage2</a>
</nav>
