<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{> ../templates/meta}}
  <title>index</title>
</head>

<body>
  <div class="container">
    <h1>index</h1>
    <p>This is a webpack multipage demo, includes:</p>
    <ol>
      <li>sourcemap of styles and javascripts</li>
      <li>html template</li>
    </ol>
    {{> ../templates/links}}
  </div>
</body>

</html>
