<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{> ../templates/meta}}
  <title>index</title>
</head>

<body>
  <div class="container">
    <h1>index</h1>
    <p>This is a webpack multipage demo, includes:</p>
    <ol>
      <li>sourcemap of styles and javascripts</li>
      <li>html template</li>
    </ol>
    <h2>Example</h2>
    <a href="/">ES6 Modules (Webpack 1.x not support, transformd to CommonJs' require)</a>
    <a href="page1.html">CommonJs: require.ensure</a>
    <a href="page1.html">AMD: require</a>
    {{> ../templates/links}}
    <hr>
    <pre id="J_Result"></pre>
  </div>
</body>

</html>
