<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{> meta}}
  <title>index</title>
</head>

<body>
  <div class="container">
    <h1>index</h1>
    <p>This is a webpack multipage demo, includes:</p>
    <ol>
      <li>sourcemap of styles and javascripts</li>
      <li>html template</li>
    </ol>
    <h2>Example</h2>
    <ul>
      <li><a href="/">ES6 Modules (Webpack 1.x not support, transformd to CommonJs' require)</a></li>
      <li><a href="page1.html">CommonJs: require.ensure</a></li>
      <li><a href="page2.html">AMD: require</a></li>
    </ul>
    {{> links}}
    <hr>
    <article>
      <div class="console">
        <h4>Console</h4>
        <p>
          compoents/movies.js loaded!<br>
          ES6 Module load compoents/movies.js
        </p>
      </div>
      <p>从 Console 中可以看出</p>
    </article>
    <hr>
    <div id="J_Result"></div>
  </div>
</body>

</html>
