<!DOCTYPE html>
<html lang="zh-CN">

<head>
{{>
  ../templates/meta
  partial=
  "  <style>
    html {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  </style>"
}}
  <title>page2</title>
</head>

<body>
  <div>page2</div>
  {{> ../templates/links}}
</body>

</html>
